<li class="list-group-item <%= "tweet_#{tweet.id}"%>">
  <% unless @user %>
      <%= link_to tweet_path(tweet), method: :delete, id: tweet.id, data: { confirm: "Are you sure?", remote: true },:style=>"float:right" do %>
          <i class="glyphicon glyphicon-trash"></i>
      <% end %>
  <% end %>
  <%= tweet.body %><br>
  <%="#{time_ago_in_words(tweet.created_at)} ago"%>
</li>