<div class="jumbotron">
  <% if user_signed_in? %>
      <h5>Welcome <%= current_user.name %>!</h5>
      <p class="lead">
        You have Successfully Signed in!
      </p>
      <%= image_tag @user_profile.attachment.url %>
  <% else %>
      <h6>Welcome, new user!</h6>
      <p class="lead">
        You must sign in or sign up before you can access our super stweet,
        top secret content.
      </p>
  <% end %>
</div>