<div class="row">
  <div class="col-lg-12">
    <div class="col-lg-2">
      <% if user_signed_in? %>
          <h5><%= current_user.name %>!</h5>
          <%= image_tag @user_profile.try(:attachment).try(:thumb) ,:class => "img-thumbnail"%>
      <% else %>
          <h6>Welcome, new user!</h6>
          <p class="lead">
            You must sign in or sign up before you can access our super stweet,
            top secret content.
          </p>
      <% end %>
    </div>
    <div class="col-lg-8">

      <%= render :partial => "tweets/form"%>
      <div style="height:20px;"></div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="panel">
          <div class="panel-heading"></div>
          <div class="panel-body">
            <ul class="list-group" id="tweet_list">
            <%= render @tweets %></div>
            </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-2">

    </div>
  </div>
</div>