<h4>List of Users</h4>
<div>
  <table class="table table-striped" style="width:50%">
    <% @users.each do |user|%>
          <tr>
            <td>
              <% if user.user_profile.present?%>
                  <%= user.user_profile.attachment? ? (image_tag user.user_profile.try(:attachment).try(:thumb),:width=>"40", :height=>"32") : (image_tag 'thumb_profile.jpg') %>
              <% else %>
                  <%=  image_tag 'thumb_profile.jpg'%>
              <% end %>
            </td>
            <td> <%= link_to user.name, user_path(user),:id=>user.id %><br></td>
            <td> <%= link_to user.email, user_path(user),:id=>user.id %><br></td>
          </tr>
    <% end %>
  </table>
</div>

