/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
 */

.footer{
    height:50px;
    background-color: #8FBC8F;
    margin-top: 40px;
}

.footer-list{
    color: white;
    text-align:center;
    padding-top: 15px;
}

.profile{
    padding-left:100px;
    height: 532px;
}

.notification{
    background: #cb1b2c;
    padding:1px 2px;
    position:absolute;
    margin:-4px 0 0 25px;
    border-radius:3px

}
.notification a{ color:#FFFFFF; padding:0!important}
.notification a:hover{ color:#FFFFFF !important;}

.nav>li>a:hover, .nav>li>a:focus {
    background-color: transparent;
    color: white;
}

.nav>li>a {
    color: white;
}

.notice {
    color: white;
    margin-top: 2px;
}

.header{
    height:68px;
    background-color: #8FBC8F;
}

.heading-title{
    color: white !important;
    float: left;
    font-size: 25px;
    margin-top: 14px;
    padding-left: 86px;
}

.noti-display{
    margin-left:30px;
}

a:hover,a:focus{
    text-decoration: none;
}
.menu-list{
    margin-right:60px;margin-top:10px;
}

.footer-link{
    color: white;
}

.tweet-list{
    margin-left:60px;margin-top:-26px;
}

.tweet-time{
    margin-top:-21px;
}

.tweet-height{
    height:75px;
}

.attachment-display{
    margin-top:-34px;margin-left:200px;
}